
<div class="card shadow-lg" style="width: 350px">
    @if (Cita.Activo)
    {
                <div class="card-header text-white bg-primary">
                    <h4>@Cita.NombrePaciente</h4>
                </div>
    }
    else
    {
                <div class="card-header text-white bg-secondary">
                    <h4>@Cita.NombrePaciente</h4>
                </div>
    }
    <div class="card-body">
        <h5><b>Inicia:</b> @Cita.Inicia.ToString("g", CultureInfo.GetCultureInfo("en-US"))</h5>

            <h5>
                <b>Finalizó:</b> 
                @(!Cita.Activo ? Cita.Termina.ToString("g", CultureInfo.GetCultureInfo("en-US")) : "--------")
            </h5>
        <h5><b>Descripción:</b> @Cita.Descripcion</h5>
        <h5><b>Creada:</b> @Cita.FechaCreacion.ToString("g", CultureInfo.GetCultureInfo("en-US"))</h5>
        <h5><b>Creador:</b> @Cita.NombreUsuarioCreacion</h5>
    </div>
    <div class="card-footer">
        <div class="form-check">
            <input @bind="Cita.Activo" type="checkbox" class="form-check-input" id="checkbox">
            <label class="form-check-label" for="checkbox">
               Activa
            </label>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Models.Citas Cita { get; set; }

}
