@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<div class="page">

    <MudLayout>
    <MudAppBar Elevation="1" Color="Color.Dark">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <h3>Titulo</h3>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/MudBlazor/MudBlazor" Target="_blank" />
    </MudAppBar>
    <MudDrawer @bind-Open="@open" Color="Color.Dark" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">MCM</MudText>
        </MudDrawerHeader>
        <MudDivider></MudDivider>
        <MudNavMenu>
            <MudNavLink OnClick="@ToggleDrawer" Href="/citas">Citas</MudNavLink>
            <MudNavLink Href="/pacientes">Pacientes</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All">Community</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="pt-16 pl-5 pr-5 pb-2">
            @Body
    </MudMainContent>
</MudLayout>

</div>

@code {
    bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    }
}
